<div class="cards">
  <h3>Programările tale:</h3>
  <button mat-raised-button color="warn" (click)="confirmDeleteHistory()" *ngIf="appointmentsText.length > 0">
    Șterge Istoric
  </button>
  <br />
  <mat-card *ngFor="let appointment of appointmentsText" class="example-card">
    <mat-card-header>
      <mat-card-title>Serviciul: {{ appointment.service.name }} </mat-card-title>
      <mat-card-subtitle>Data: {{ appointment.localDate }}, {{ appointment.timeSlot }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <span class="status"> {{ appointment.status }} </span>
      <p><b> Doctor:</b> {{ appointment.doctor.firstName }} {{ appointment.doctor.lastName }}</p>
      <p>
        <b> {{ appointment.clinic.name }} </b> - {{ appointment.clinic.address }}
      </p>
      <p><b>Număr telefon: </b> {{ appointment.clinic.phone }}</p>
      <p><b> Preț:</b> {{ appointment.service.price }} RON</p>
      <p>
        <b> Fișiere Atașate: </b
        ><a href="{{ appointment.extraDetails.file.url }}">{{ appointment.extraDetails.file.name }}</a>
      </p>
      <button mat-raised-button color="warn" (click)="confirmDeleteAppointment(appointment.id)">Șterge</button>
    </mat-card-content>
  </mat-card>
  <h4 *ngIf="appointmentsText.length === 0">Nu a fost gasită nicio programare. <br /></h4>
</div>
