.cards {
  display: flex;
  flex-direction: column;

  .example-card {
    width: auto;
    background-color: white;
    margin-bottom: 25px;

    .cancelBtn {
      float: right;
      border: none;
      background-color: #ff0000;
      border-radius: 20px;
      color: white;
      padding: 10px 15px;
      cursor: pointer;
    }
  }

  .status {
    color: #4bf44b;
    float: inline-end;
    border-radius: 50px;
    padding: 10px 15px;
    font-weight: bold;
    background-color: #f3f3f3;
  }
}
