<main class="container">
  <div class="container__date">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar
        [(selected)]="selected"
        (click)="onAddDate()"
        [dateFilter]="myFilter"
        [minDate]="currentDate"
        [startAt]="currentDate"></mat-calendar>
    </mat-card>
    <p>Data selectată: {{ dateSelected }}</p>
  </div>
  <div class="container__time">
    <h3>Ore disponibile</h3>
    <div *ngIf="noTimeSlotsAvailableOrWeekend; else timeSlotsSection">
      <p>
        Dr. {{ doctor.displayName }} nu este disponibil in aceasta zi. Te rugam sa selectezi alta zi pentru programarea
        ta.
      </p>
    </div>

    <ng-template #timeSlotsSection>
      <div *ngIf="selected" class="container__time__buttons">
        <button
          *ngFor="let time of timeSlots"
          [ngClass]="{ active: isActive(time) }"
          (click)="onAddTime(time)"
          class="container__time__buttons__btn"
          mat-stroked-button>
          {{ time }}
        </button>
      </div>
    </ng-template>
  </div>
</main>
