<main class="container">
  <div class="container__date">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar [(selected)]="selected" (click)="onClickDate()" [dateFilter]="myFilter"
        [startAt]="currentDate"></mat-calendar>
    </mat-card>
  </div>
  <span *ngIf="doctorTimeSlots.length > 0; then slotsTrue; else slotsFalse"></span>
  <div class="container__time">
    <ng-template #slotsTrue>

      <div class="container__time__buttons">
        <h3>Sloturi asignate doctorului</h3>
        <button mat-stroked-button *ngFor="let slot of doctorTimeSlots" [ngClass]="{ active: isActive(slot) }"
          class="container__time__buttons__btn" (click)="onSelectDoctorTimeSlot(slot)">
          {{ slot }}
        </button>
        <br />
        <div id="deleteSlots">
          <button mat-fab color="warn" id="deleteIcon" (click)="onConfirmDeleteTimeSlots()">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-stroked-button color="primary" id="cleanupBtn" (click)="onCleanupPastTimeSlots()">
            Sterge Istoric Sloturi
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template #slotsFalse>
      <h3>Niciun slot asignat acestei zile</h3>
    </ng-template>
  </div>

  <div class="container__time" *ngIf="addableTimeSlots.length > 0">
    <h3 style="text-align: center">Sloturi pe care le poti adauga</h3>

    <div class="container__time__buttons">
      <button mat-stroked-button *ngFor="let slot of addableTimeSlots" [ngClass]="{ active: isSelected(slot) }"
        class="container__time__buttons__btn" (click)="onSelectAddableTimeSlot(slot)">
        {{ slot }}
      </button>
    </div>

    <div class="container__time__addBtn">
      <button mat-stroked-button color="secondary" (click)="onAddTimeSlots()">Adauga</button>
    </div>
  </div>
</main>