.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  p {
    text-align: center;
  }
  &__date {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    .demo-inline-calendar-card {
      width: 300px;
      height: fit-content;
    }
  }

  &__time {
    background-color: rgb(235, 250, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;

    &__buttons {
      padding: 15px;

      #deleteSlots {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        gap: 20%;

        #cleanupBtn {
          color: white;
          background-color: red;
          padding: 20px;
        }
      }
      &__btn {
        margin: 10px;
        background-color: white;
      }
    }

    &__addBtn {
      background-color: rgb(0, 153, 0);
      color: white;
      border-radius: 5px;
    }
  }
}

.active {
  background-color: lightblue;
}
