.container {
    p {
      text-align: center;
    }
    &__date {
      display: flex;
      justify-content: center;
      .demo-inline-calendar-card {
        width: 300px;
      }
    }

    &__time {
        background-color: rgb(235, 250, 241);
        display: flex;
        flex-direction: column;
        align-items: center;

        &__buttons {
            padding: 15px;
            &__btn {
              margin: 10px;
              background-color: white;
            }
          }
    }
}

.active {
    background-color: lightblue;
}